/* -----Calculating the total dimension of the element-----
The total width and height of the element is calculated with the formula:

Total Width = Width + Left Padding + Right Padding + Left Border + Right Border + Left Margin + Right Margin

Total Height = Height + Top Padding + Bottom Padding + Top Border + Bottom Border + Top Margin + Bottom Margin */

*{
    margin: 0;
    padding: 0;
}
.box{
    background-color: aqua;
}
.box1{
    color: yellow;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    height: 200px;
    box-sizing: border-box;
}
.box2{
    color: red;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    height: 200px;
    box-sizing: border-box;
}